@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400|Ubuntu:500,700&subset=latin,cyrillic);

/* === HTML elements === */

body {
	font-family: Noto Serif, serif;
	font-size: 1em;
	font-weight: 400;
	background-color: #fafcfc;
	color: #01080d;
}

h2 {
	font-family: Noto Serif, serif;
	font-size: 2em;
	font-weight: 400;
}

button {
	font-family: Ubuntu, sans-serif;
	font-size: 1.5em;
	font-weight: 500;
	background: #59a7d5;
	border: 0;
	display: inline-block;
	padding: 0.7em 1.2em;
	margin: 5px;
}

button:hover {
	border: 3px solid #ef8635;
	margin: 2px;
	cursor: pointer;
}

p {
	margin: 1%;
	vertical-align: middle;
}

.text-container p {
    width: 76%;
}

object:hover {
	height: 500px;
}

input {
	font-family: Noto Serif, serif;
	font-size: 1em;
	font-weight: 400;
	width: 16em;
	height: 1.5em;
	padding: 3px;
}

input:hover {
	border: 2px solid #ef8635;
}

/* === Identifiers === */

div#allpage {
	width: 96%;
	margin: 0 auto;
	margin-left: 2%;
	margin-right: 2%;
	padding-top: 2%;
	display: table;
	overflow: auto;
	text-align: center;
}

div#header {
	width: 100%;
	margin: 0 auto;
	display: table-caption;
}

span#logo {
	display: inline-block;
	vertical-align: middle;
}

span#caption {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

/* === Pure classes === */

.row {
	display: table-row;
}

.cell {
	padding: 1%;
    display: table-cell;
	vertical-align: middle;
}

.left{
    float: left;
    text-align: right;
}

.right{
    float: right;
    text-align: left;
}

.pic {
    width: 16%;
    margin: 1%;
	vertical-align: middle;
}

.center{
    margin: 0 auto;
	align: center;
	text-align: center;
}

.mnbr {
	width: 100%;
	margin: 0 auto;
	overflow: visible;
	align: center;
	display: block;
	vertical-align: middle;
	text-align: center;
}

.tinymced {	
	min-width: 797px; /* width of TinyMCE component with 97 cols, about 8px for 1 col and some overwidth*/
}

.answer-container {
    display: inline;
    margin: 0.3em;
	float: none;
	text-align: left;
}

.register-container {
	width: 16em;
    margin: 0 auto;
	display: table;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.text-container {
    font: 1.5em Noto Serif, serif;
}

.error {
	color: maroon;
}

/* === Selector-classes === */

form.mnbtn {
	margin: 0 auto;
	overflow: visible;
	align: center;
	margin: 0 auto;
	display: inline-block;
	text-align: center;
}

div.payload {
	border-left: 2px solid #ef8635;
	border-right: 2px solid #ef8635;
	width: 94%;
	margin-left: 2%;
	margin-right: 2%;
	padding-left: 1%;
	padding-right: 1%;
}

img.notext {
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
}

span.AMedit {
	border: 1px solid #ef8635;
}

span#caption > h1 {
	font-family: Ubuntu, sans-serif;
	font-size: 2.5em;
	font-weight: 700;
	margin: 0 auto;
}

